@model IEnumerable<Product>

@{
    ViewData["Title"] = "OrderStatus";
}

<h1>OrderStatus</h1>
@if (!ViewBag.Status)
{
    <h2>In progress...</h2>
}
else
{
    <h2>Done!</h2>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>
</table>