@model IEnumerable<Category>

<div class="list-group mt-4">
    <a asp-controller="Home" asp-action="Index" asp-route-id="" class="list-group-item">All</a>
    @foreach (var item in Model)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-id="@item.Id" class="list-group-item">@item.Name</a>
    }
</div>
